<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Recommendation System</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/chatbot.css">
</head>
<body>

<div class="container">
    <h1>Semantic Web Book Recommendation System</h1>

    <p>
        This web application uses RDF/XML, Apache Jena, OWL, SPARQL, and RAG-based chatbot features.
    </p>

    <h2>Features</h2>

    <ul>
        <li>Upload RDF/XML file</li>
        <li>Visualize RDF graph</li>
        <li>Add and modify books using RDF</li>
        <li>List books and view book details</li>
        <li>Use OWL ontology and SPARQL queries</li>
        <li>Use chatbot enhanced with book data</li>
    </ul>

    <a href="/upload">Go to RDF Upload</a>

    <h2>Book Management</h2>

    <ul>
        <li><a href="/books/add">Add Harry Potter</a></li>
        <li><a href="/books/edit-hunger-games">Edit Hunger Games Reading Level</a></li>
    </ul>


    <h2>Books</h2>
    <ul>
        <li><a href="/books">View All Available Books</a></li>
    </ul>



</div>

<script src="/js/chatbot.js"></script>
</body>
</html>